<h3>Create a new person</h3>
<div class='row new-person-form'>
<div class='span12'>
<%= form_for @person do |f| %>
  <%= render 'shared/error_messages', :target => @person %>
  <%= f.text_field :name, placeholder: 'Name' %>
  <%= f.text_field :email, placeholder: 'Email' %>
  <div class='row team-box'>
  <%= f.text_field :team_names, type: 'hidden', class: "teams" %>
    <input type='text' class = "tags-input" id='team-tags' placeholder="Team Names" data-provide='typeahead' />
    <section class='suggestion-box'></section>
  </div>
  <%= f.submit "Submit", class: 'btn btn-warning' %>
<% end %>
</div>
</div>

<script type="text/javascript">
  PageContent.suggestions = <%= @teams.map(&:name).to_json.html_safe %>;
</script>