<div class='new-person-form'>
<%= form_for @person do |f| %>
  <%= render 'shared/error_messages', :target => @person %>
  <%= f.text_field :name, placeholder: 'Name' %>
  <%= f.text_field :email, placeholder: 'Email' %>
  <%= f.text_field :team_names, placeholder: "Team Names", data: {provide: "typeahead"}, class: "tags-input" %>
  <%= f.submit "Submit", class: 'btn btn-warning' %>
<% end %>
</div>
<section class='suggestion-box'>

</section>

<script type="text/javascript">
  PageContent.suggestions = <%= @teams.map(&:name).to_json.html_safe %>;
</script>