<div class='new-person-form'>
<%= form_for @person do |f| %>
  <%= render 'shared/error_messages', :target => @person %>
  <%= f.text_field :name, placeholder: 'Name' %>
  <%= f.text_field :email, placeholder: 'Email' %>
  <%= f.fields_for :team do |af| %>
    <%= af.text_field :name, placeholder: "Team Name" %>
  <% end %>
  <%= f.submit "Submit", class: 'btn btn-warning' %>
<% end %>
</div>
<section class='team-list'></section>

<% content_for :js_footer do%>
  PageContent.teamSuggestions = <%= @teams.to_json.html_safe %>;
<% end %>